<div class="container-xxl bg-light py-5 my-5">
    <div class="container py-5">
        <div
            class="text-center mx-auto mb-5 wow fadeInUp"
            data-wow-delay="0.1s"
            style="max-width: 500px;"
        >
            <p class="text-primary text-uppercase mb-2">Our Services</p>
            <h1 class="display-6 mb-4">We Provide Best Professional Services</h1>
        </div>
        <div class="row g-3">
            <div
                class="col-lg-3 col-md-6 wow fadeInUp"
                data-wow-delay="0.1s"
            >
                <div class="service-item d-flex flex-column bg-white p-3 pb-0">
                    <div class="position-relative">
                        <img
                            class="img-fluid"
                            [src]="images['wedding']"
                            alt
                        >
                        <div class="service-overlay">
                            <a
                                class="btn btn-lg-square btn-outline-light rounded-circle"
                                href
                            >
                                <i class="fa fa-link text-primary"></i>
                            </a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h4>Weddings</h4>
                    </div>
                </div>
            </div>
            <div
                class="col-lg-3 col-md-6 pt-lg-5 wow fadeInUp"
                data-wow-delay="0.3s"
            >
                <div class="service-item d-flex flex-column bg-white p-3 pb-0">
                    <div class="position-relative">
                        <img
                            class="img-fluid"
                            [src]="images['potrait']"
                            alt
                        >
                        <div class="service-overlay">
                            <a
                                class="btn btn-lg-square btn-outline-light rounded-circle"
                                href
                            >
                                <i class="fa fa-link text-primary"></i>
                            </a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h4>Portraits</h4>
                    </div>
                </div>
            </div>
            <div
                class="col-lg-3 col-md-6 wow fadeInUp"
                data-wow-delay="0.5s"
            >
                <div class="service-item d-flex flex-column bg-white p-3 pb-0">
                    <div class="position-relative">
                        <img
                            class="img-fluid"
                            [src]="images['kinder']"
                            alt
                        >
                        <div class="service-overlay">
                            <a
                                class="btn btn-lg-square btn-outline-light rounded-circle"
                                href
                            >
                                <i class="fa fa-link text-primary"></i>
                            </a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h4>Kinder Captures</h4>
                    </div>
                </div>
            </div>
            <div
                class="col-lg-3 col-md-6 pt-lg-5 wow fadeInUp"
                data-wow-delay="0.7s"
            >
                <div class="service-item d-flex flex-column bg-white p-3 pb-0">
                    <div class="position-relative">
                        <img
                            class="img-fluid"
                            [src]="images['engagement']"
                            alt
                        >
                        <div class="service-overlay">
                            <a
                                class="btn btn-lg-square btn-outline-light rounded-circle"
                                href
                            >
                                <i class="fa fa-link text-primary"></i>
                            </a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h4>Engagement</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
