<div class="container-xxl px-0 py-5">
    <div
        class="text-center mx-auto mb-5 wow fadeInUp"
        data-wow-delay="0.1s"
        style="max-width: 500px;"
    >
        <p class="text-primary text-uppercase mb-2">Our Team</p>
        <h1 class="display-6 mb-0">Creative Photograher And Videographer</h1>
    </div>
    <div class="row g-0">
        <div
            class="col-lg-6 wow fadeIn"
            data-wow-delay="0.1s"
        >
            <div class="row g-0 flex-sm-row">
                <div class="col-sm-6">
                    <div class="team-img position-relative">
                        <img
                            class="img-fluid"
                            src="./assets/img/team-1.jpg"
                            alt
                        >
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="h-100 p-5 d-flex flex-column justify-content-between">
                        <div class="mb-3">
                            <h4>Lucifer Jhones</h4>
                            <span>Photographer</span>
                        </div>
                        <p>
                            Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo
                        </p>
                        <div class="d-flex">
                            <a
                                class="btn btn-square btn-outline-primary rounded-circle me-2"
                                href
                            >
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a
                                class="btn btn-square btn-outline-primary rounded-circle me-2"
                                href
                            >
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a
                                class="btn btn-square btn-outline-primary rounded-circle me-2"
                                href
                            >
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="col-lg-6 wow fadeIn"
            data-wow-delay="0.3s"
        >
            <div class="row g-0 flex-sm-row-reverse flex-lg-row">
                <div class="col-sm-6">
                    <div class="team-img position-relative">
                        <img
                            class="img-fluid"
                            src="./assets/img/team-2.jpg"
                            alt
                        >
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="h-100 p-5 d-flex flex-column justify-content-between">
                        <div class="mb-3">
                            <h4>Jesse Joslin</h4>
                            <span>Videographer</span>
                        </div>
                        <p>
                            Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo
                        </p>
                        <div class="d-flex">
                            <a
                                class="btn btn-square btn-outline-primary rounded-circle me-2"
                                href
                            >
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a
                                class="btn btn-square btn-outline-primary rounded-circle me-2"
                                href
                            >
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a
                                class="btn btn-square btn-outline-primary rounded-circle me-2"
                                href
                            >
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="col-lg-6 wow fadeIn"
            data-wow-delay="0.1s"
        >
            <div class="row g-0 flex-lg-row-reverse">
                <div class="col-sm-6">
                    <div class="team-img position-relative">
                        <img
                            class="img-fluid"
                            src="./assets/img/team-3.jpg"
                            alt
                        >
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="h-100 p-5 d-flex flex-column justify-content-between">
                        <div class="mb-3">
                            <h4>Richard Archer</h4>
                            <span>Retoucher</span>
                        </div>
                        <p>
                            Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo
                        </p>
                        <div class="d-flex">
                            <a
                                class="btn btn-square btn-outline-primary rounded-circle me-2"
                                href
                            >
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a
                                class="btn btn-square btn-outline-primary rounded-circle me-2"
                                href
                            >
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a
                                class="btn btn-square btn-outline-primary rounded-circle me-2"
                                href
                            >
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="col-lg-6 wow fadeIn"
            data-wow-delay="0.3s"
        >
            <div class="row g-0 flex-sm-row-reverse">
                <div class="col-sm-6">
                    <div class="team-img position-relative">
                        <img
                            class="img-fluid"
                            src="./assets/img/team-4.jpg"
                            alt
                        >
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="h-100 p-5 d-flex flex-column justify-content-between">
                        <div class="mb-3">
                            <h4>April Ryan</h4>
                            <span>Editor</span>
                        </div>
                        <p>
                            Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo
                        </p>
                        <div class="d-flex">
                            <a
                                class="btn btn-square btn-outline-primary rounded-circle me-2"
                                href
                            >
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a
                                class="btn btn-square btn-outline-primary rounded-circle me-2"
                                href
                            >
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a
                                class="btn btn-square btn-outline-primary rounded-circle me-2"
                                href
                            >
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
