<div class="container-fluid hero-header bg-light py-5 mb-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <p class="text-primary text-uppercase mb-2 animated slideInDown">Welcome To Kombanz Wedding Planners</p>
                <h1 class="display-4 mb-3 animated slideInDown">
                    Wedding And Portrait Studio Based in Kerala
                </h1>
                <p class="animated slideInDown">
                    We capture your best Moments.....We vow to capture beautiful moments you create...
                </p>
                <div class="d-flex align-items-center pt-4 animated slideInDown">
                    <a
                        href="https://www.instagram.com/kombanzweddingplanners/"
                        target="_blank"
                        class="btn btn-primary py-3 px-4 me-5"
                    >
                        Explore More
                    </a>
                    <button
                        type="button"
                        class="btn-play"
                        data-bs-toggle="modal"
                        data-src="https://www.youtube.com/embed/DWRcNpR6Kdc"
                        data-bs-target="#videoModal"
                    >
                        <span></span>
                    </button>
                    <h5 class="ms-4 mb-0 d-none d-sm-block">Play Video</h5>
                </div>
            </div>
            <div class="col-lg-6 animated fadeIn">
                <div class="row g-3">
                    <div class="col-6 text-end">
                        <img
                            class="img-fluid bg-white p-3 w-100 mb-3"
                            [src]="images[0]"
                            alt="Hero Image 1"
                        >
                        <img
                            class="img-fluid bg-white p-3 w-50"
                            [src]="images[2]"
                            alt="Hero Image 3"
                        >
                    </div>
                    <div class="col-6">
                        <img
                            class="img-fluid bg-white p-3 w-50 mb-3"
                            [src]="images[3]"
                            alt="Hero Image 4"
                        >
                        <img
                            class="img-fluid bg-white p-3 w-100"
                            [src]="images[1]"
                            alt="Hero Image 2"
                        >
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Video Modal Start -->
<div
    class="modal modal-video fade"
    id="videoModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content rounded-0">
            <div class="modal-header">

                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <!-- 16:9 aspect ratio -->
                <div class="ratio ratio-16x9">
                    <iframe
                        width="560"
                        height="315"
                        src="https://www.youtube.com/embed/UCscN9xoo5E?si=dLDRZrEgZMQfRMYm"
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin"
                        allowfullscreen
                    ></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Video Modal End -->
