<div class="container-xxl bg-light py-5 my-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 ">
            <p class="text-primary text-uppercase mb-2">Our Works</p>
            <h1 class="display-6 mb-0">
                Discover Our Unique And Creative Photoshoot
            </h1>
        </div>

        <app-pagination></app-pagination>

        <div *ngIf="posts | async as posts; else loading">
            <div class="row g-4">
                <div
                    class="col-lg-4 "
                    *ngFor="let post of posts"
                >
                    <app-instagram-post [postid]="'https://www.instagram.com/p/'+post.shortCode+'/embed'"></app-instagram-post>
                </div>
            </div>
        </div>

        <ng-template #loading>
            <p>Loading users...</p>
        </ng-template>

    </div>
</div>
