<!-- Spinner Start -->

<!-- Spinner End -->

<app-menu></app-menu>

<!-- Header Start -->
<app-main-heading></app-main-heading>
<!-- Header End -->
<div id="about">
    <!-- About Start -->
    <app-about-us></app-about-us>
    <!-- About End -->
</div>

<!-- Facts Start -->
<app-why-choose-us></app-why-choose-us>
<!-- Facts End -->

<!-- Service Start -->
<div id="service">
    <app-service-offered></app-service-offered>
</div>
<!-- Service End -->

<!-- Project Start -->
<div id="project">
    <app-projects-offered></app-projects-offered>
</div>
<!-- Project End -->

<!-- Team Start -->
<!-- <app-photographers></app-photographers> -->
<!-- Team End -->
<div id="social">
    <!-- <app-social-widget></app-social-widget> -->
</div>

<!-- Testimonial Start -->
<!-- <app-testimonials></app-testimonials> -->
<!-- Testimonial End -->
<div id="contact">
    <app-contact></app-contact>
</div>
<!-- Footer Start -->
<app-footer></app-footer>
<!-- Footer End -->

<!-- Copyright Start -->
<div class="container-fluid bg-dark text-white border-top border-secondary px-0">
    <div class="d-flex flex-column flex-md-row justify-content-between">
        <div class="py-4 px-5 text-center text-md-start">
            <p class="mb-0">
                &copy;
                <a
                    class="text-primary"
                    href="https://kombanzweddingplanners.com/"
                >
                    Kombanz Wedding Planners
                </a>
                . All Rights Reserved.
            </p>
        </div>
        <div class="py-4 px-5 bg-secondary footer-shape position-relative text-center text-md-end">
            <!-- /*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/ -->
            <p class="mb-0">
                Designed by
                <a
                    class="text-primary fw-bold"
                    href="https://htmlcodex.com"
                >
                    HTML Codex
                </a>
            </p>
        </div>
    </div>
</div>
<!-- Copyright End -->

<!-- Back to Top -->
<a
    href="#"
    class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"
>
    <i class="bi bi-arrow-up"></i>
</a>
