<!-- Contact Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div
            class="text-center mx-auto wow fadeInUp"
            data-wow-delay="0.1s"
            style="max-width: 500px;"
        >
            <p class="text-primary text-uppercase mb-2">Contact Us</p>
            <h1 class="display-6 mb-5">
                If You Have Any Query, Please Contact Us
            </h1>
        </div>
        <div class="row g-0 justify-content-center">
            <!-- Testimonial Start -->
            <section>

                <div class="row text-center">
                    <div class="col-md-3 mb-5 mb-md-0">
                        <div class="d-flex justify-content-center mb-4">
                            <img
                                [src]="images[0]"
                                class="rounded-circle shadow-1-strong"
                                width="150"
                                height="150"
                            >
                        </div>
                        <a href="https://www.instagram.com/kombanzweddingplanners/">
                            <h5 class="mb-3">
                                <i class="fab fa-instagram"></i>
                                Our Instagram
                            </h5>
                        </a>
                    </div>
                    <div class="col-md-3 mb-5 mb-md-0">
                        <div class="d-flex justify-content-center mb-4">
                            <img
                                [src]="images[1]"
                                class="rounded-circle shadow-1-strong"
                                width="150"
                                height="150"
                            >
                        </div>
                        <a href="https://www.facebook.com/kombanzweddingplanners/">
                            <h5 class="mb-3">
                                <i class="fab fa-facebook-f"></i>
                                Our facebook
                            </h5>
                        </a>
                    </div>
                    <div class="col-md-3 mb-0">
                        <div class="d-flex justify-content-center mb-4">
                            <img
                                [src]="images[2]"
                                class="rounded-circle shadow-1-strong"
                                width="150"
                                height="150"
                            >
                        </div>
                        <a href="https://api.whatsapp.com/send?phone=918921852660&text=Hey">
                            <h5 class="mb-3">
                                <i class="fab fa-whatsapp"></i>
                                Whatsapp Us
                            </h5>
                        </a>

                    </div>
                    <div class="col-md-3 mb-0">
                        <div class="d-flex justify-content-center mb-4">
                            <img
                                [src]="images[3]"
                                class="rounded-circle shadow-1-strong"
                                width="150"
                                height="150"
                            >
                        </div>
                        <a href="mailto:kombanzmedia@gmail.com">
                            <h5 class="mb-3">
                                <i class="fa fa-envelope"></i>
                                Mail Us
                            </h5>
                        </a>
                    </div>
                </div>
            </section>
            <!-- Testimonial End -->
        </div>
    </div>
</div>
<!-- Contact End -->
